.king {
    background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc);
    min-height: 100vh;
    width: 100%;
}

.room-text .welcome {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.room-text .playing {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.finished-scores {
    background-color: #e67e22;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: 1.5rem;
    border-radius: 20px;
}

.finished-scores:hover {
    background-color: #d35400;
}


.final-result-button {
    background-color: #c0392b;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: -1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.final-result-button:hover {
    background-color: #e74c3c;
}

.whait-for-owner {
    background-color: #2c3e50;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: -1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.whait-for-owner:hover {
    background-color: #34495e;
}

.playing-emoji {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-question-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .room-text .welcome {
        font-size: 1.5rem;
    }

    .click-question-text {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .room-text .welcome {
        font-size: 1rem;
    }

    .click-question-text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 321px) {
    .room-text .welcome {
        font-size: 0.8rem;
    }

    .room-text .playing {
        font-size: 1.5rem;
    }

    .playing-emoji {
        font-size: 4rem;
    }
}
