.king {
    background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc);
    min-height: 100vh;
    width: 100%;
}

.room-text .welcome {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.room-text .playing {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.guidance {
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}

.guidance-icon {
    background: linear-gradient(to right, #ec008c, #fc6767);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50px;
}

.guidance-icon:hover {
    background: linear-gradient(to right, #c20175, #cf5454);
}

.start-section {
    float: right;
    margin-right: 20rem;
    width: 30%;
}

.start-box {
    background: linear-gradient(to left, #9d50bb, #6e48aa);
    border-radius: 15px;
    color: white;
}

.start-content {
    margin: 1rem;
}

.start-content strong {
    font-size: 1.2rem;
}

.start-button {
    color: white;
    margin: 1.5rem;
    background-color: #f7483b;
    border: pink;
    padding: 0.5rem 2rem 1rem;
    border-radius: 20px;
}

.start-button:hover {
    background-color: #fc1b0b;
}

.finished-scores {
    background-color: #e67e22;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: 1.5rem;
    border-radius: 20px;
}

.finished-scores:hover {
    background-color: #d35400;
}

.play-again-button {
    background-color: #27ae60;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: 1.5rem;
    border-radius: 20px;
}

.play-again-button:hover {
    background-color: #2ecc71;
}

.final-result-button {
    background-color: #c0392b;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: -1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.final-result-button:hover {
    background-color: #e74c3c;
}

.whait-for-owner {
    background-color: #2c3e50;
    border: none;
    padding: 0.5rem 2rem 1rem;
    color: white;
    margin: -1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.whait-for-owner:hover {
    background-color: #34495e;
}

.playing-emoji {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-question-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

@media screen and (min-width: 1251px) {
    .users-section {
        float: left;
        margin-left: 20rem;
        width: 30%;
    }
}

@media screen and (max-width: 1615px) {
    .users-section {
        margin-left: 15rem;
        width: 30%;
    }

    .start-section {
        width: 30%;
        margin-right: 15rem;
    }
}

@media screen and (max-width: 1250px) {
    .users-section {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start-section {
        float: none;
        width: 100%;
        margin-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start-box {
        padding: 5rem 5rem 10rem 10rem;
    }
}

@media screen and (max-width: 700px) {
    .room-text .welcome {
        font-size: 1.5rem;
    }

    .click-question-text {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .room-text .welcome {
        font-size: 1rem;
    }

    .start-box {
        padding: 0rem;
        width: 100%;
    }

    .users-section {
        width: 100%;
    }

    .click-question-text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 321px) {
    .room-text .welcome {
        font-size: 0.8rem;
    }

    .room-text .playing {
        font-size: 1.5rem;
    }

    .playing-emoji {
        font-size: 4rem;
    }
}
