.form {
    background: linear-gradient(to right, #41295a, #2f0743);
    color: white;
    border: 10px;
}

.arta {
    color: red;
}

@media screen and (max-width: 350px) {
    .room-content {
        width: 10rem;
    }

    .top-text {
        font-size: 1rem;
    }

    .des-text {
        font-size: 0.5rem;
    }
}
