.home {
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
}

.game-emoji {
    margin-top: 7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    animation: icon-animation 5s infinite;
    color: white;
    text-align: center;
    font-size: 5rem;
}

.Introduction {
    color: white;
    font-size: 3.3rem;
    width: 50%;
}

@keyframes icon-animation {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 100px;
        top: 0px;
    }
    50% {
        left: 100px;
        top: 50px;
    }
    75% {
        left: 0px;
        top: 50px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.operation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button {
    color: white;
    margin: 0.5rem 0.5rem 0.8rem 0.5rem;
    background-color: #f7483b;
    border: pink;
    padding: 1rem 2rem 1rem;
    transform: skew(-10deg);
    border-radius: 5px;
}

.create-button strong {
    display: block;
    transform: skew(10deg);
}

.join-button {
    color: white;
    margin: 0.5rem 0.5rem 0.8rem 0.5rem;
    background-color: #f7483b;
    border: pink;
    padding: 1rem 2rem 1rem;
    transform: skew(-10deg);
    border-radius: 5px;
}

.join-button strong {
    display: block;
    transform: skew(10deg);
}

.join-button:hover {
    background-color: #fd2f20;
}

.create-button:hover {
    background-color: #fd2f20;
}

.text-mianpage {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.all-icon {
    display: flex;
}

@media screen and (max-width: 1400px) {
    .Introduction {
        width: 60%;
    }
}

@media screen and (max-width: 1150px) {
    .Introduction {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .game-emoji {
        display: block;
    }

    .Introduction {
        width: 80%;
        justify-content: center;
        align-items: center;
        float: left;
        font-size: 2.5rem;
    }

    .Introduction h4 {
        font-size: 1rem;
    }

    .all-icon {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
    }

    .icon {
        animation: small-animation 4s infinite;
        font-size: 4.7rem;
        margin-top: -1rem;
    }
}

@keyframes small-animation {
    0% {
        right: 0px;
        top: 0px;
    }
    25% {
        right: 0px;
        top: 50px;
    }
    50% {
        right: 0px;
        top: 50px;
    }
    75% {
        right: 0px;
        top: 50px;
    }
    100% {
        right: 0px;
        top: 0px;
    }
}

@media screen and (max-width: 590px) {
    .Introduction {
        font-size: 2rem;
    }

    .text-mianpage {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 520px) {
    .icon {
        margin-bottom: 2rem;
        font-size: 4rem;
    }

    .create-button {
        padding: 0.8rem 1.1rem 0.8rem;
        font-size: 14px;
    }

    .join-button {
        padding: 0.8rem 1.1rem 0.8rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .Introduction {
        font-size: 1.5rem;
    }

    .Introduction h4 {
        font-size: 0.8rem;
    }

    .icon {
        margin-bottom: 2rem;
        font-size: 3.4rem;
    }

    .create-button {
        padding: 0.5rem 0.8rem 0.5rem;
        font-size: 12px;
    }

    .join-button {
        padding: 0.5rem 0.8rem 0.5rem;
        font-size: 12px;
    }

    .text-mianpage {
        font-size: 0.5rem;
    }
}
