.main {
    min-height: 100vh;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
}

.profile {
    border: black 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38rem;
    margin: auto;
    background-color: #130f40;
}

.title {
    color: white;
}

.welcome {
    color: white;
}

.data {
    font-size: 17px;
    color: white;
}

.edit-profile {
    color: white;
    background: linear-gradient(to left, #8e2de2, #4a00e0);
    border-radius: 15px;
    border: none;
    padding: 1rem 4rem 1rem 4rem;
}

.edit-profile:hover {
    background: linear-gradient(to left, #8719e7, #3a01ad);
}

.edit-data {
    color: white;
    margin: 2rem;
}

.edit-input {
    width: 100%;
    background: linear-gradient(to left, #8e2de2, #4a00e0);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 0.6rem 3.5rem 0.6rem 3.5rem;
}

.edit-input::placeholder {
    color: rgba(255, 255, 255, 0.308);
}

.submit-new-profile {
    color: white;
    background: #4834d4;
    border-radius: 15px;
    width: 100%;
    border: none;
    padding: 0.8rem 3.5rem 0.8rem 3.5rem;
}

.submit-new-profile:hover {
    background: #3e27d4;
}

@media screen and (max-width: 700px) {
    .main {
        min-height: 100vh;
        background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc);
    }

    .profile {
        width: 30rem;
    }
}

@media screen and (max-width: 540px) {
    .profile {
        width: 97%;
    }
}

@media screen and (max-width: 310px) {
    .edit-profile {
        padding: 1rem 3rem 1rem 3rem;
    }
}
