.main {
    min-height: 100vh;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc);
}

.profile {
    border: black 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    height: 480px;
    text-align: center;
    background: linear-gradient(to right, #03001e, #7303c0);
}

.title {
    color: white;
}

.welcome {
    color: white;
}

.content {
    color: white;

}

.data {
    font-size: 17px;
}